body {
  font-family: Helvetica;
  text-align: center;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

#home {
    background: url("../images/the-flatiron-building.png");
    background-size: cover;
    font-size: 18px;
    color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold
}

.design {
  background: url("../images/the-flatiron-building.png");
  background-size: cover;
  color: white;
}

.copyright {
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
  color: white;
}
